---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Investigador del proyecto",
    company: "Ahlesa",
    description:
      "Con el propósito de tener un instrumento de recopilación de datos de frecuencia alimentaria de los participantes para el proyecto, se ha estado trabajando en una aplicación flexible y robusta de recopilación de datos para investigación, que permita características necesarias para la recopilación de datos además de darle un seguimiento a los participantes por medio de una cuenta de usuario.",
    link: "https://surveyresearch.uap.edu.ar/ahlesa-web/#/",
  },
  {
    date: "Septiembre 2021",
    title: "Principal Frontend Engineer",
    company: "Kemis Sofware House",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 5 equipos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
